
# Ignorer les fichiers de configuration de l'IDE

# Variables d'environnement
.env
server/.env

# Dépendances Node.js
node_modules/
server/node_modules/

# Logs
npm-debug.log*

# Fichiers système
.DS_Store
Thumbs.db

# ignorer les dossiers suivants

prompts/
scripts/
hosting/
projet/
